.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    border: solid #6c757d;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 2px
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 5px
}

.page-item.active .page-link {
    background-color: #b2b5b8 !important;
    border-color:#b2b5b8 !important
}

@media (min-width: 900px) {
    .main-card {
        width: 600px 
    }
}
